.new-images-section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.image-box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 11px;
    transition: box-shadow 200ms linear;
    box-shadow:5px 5px 15px 5px rgb(0 0 0 / 16%);
}
.image-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11px;
}
.image-box .delete-btn {
    width: 50px;
    height: 50px;
    border-radius: 11px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 25px;
    border: none;
    box-shadow: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: red;
    color: #fff;
    transition: box-shadow 200ms linear;
    box-shadow:5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.image-box .delete-btn:hover{
    box-shadow: 5px 5px 13px 11px rgb(245 59 59 / 27%);
    transition: box-shadow 200ms linear;
}

.image-box .save-btn {
    width: 50px;
    height: 50px;
    border-radius: 11px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 25px;
    border: none;
    box-shadow: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: #a600ff;
    color: #fff;
    transition: box-shadow 200ms linear;
    box-shadow:5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.image-box .save-btn:hover{
    box-shadow: 5px 5px 15px 5px rgb(213 146 255 / 50%);
    transition: box-shadow 200ms linear;
}
.images-wrapper{
    display: flex;
    align-items: center;
    column-gap: 60px;
    row-gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-box:hover{
    box-shadow: none;
    transition: box-shadow 200ms linear;
}